{{outlet}}
<div class="articles">
  <div class="col-md-4">
    <div class="article">
      <img class="pictures" src="/images/teacup-pig.jpg"/>
      <h4>Tea Cup Pig Gets Way too Drunk</h4>
    </div>
  </div>
  <div class="col-md-4">
    <div class="article">
      <img class="pictures" src="/images/monkeyreads.jpg"/>
      <h4>Narcissistic Orangutan Reads Book About Himself and His Dog</h4>
    </div>
  </div>
  <div class="col-md-4">
    <div class="article">
      <img class="pictures" src="/images/capybara.jpg"/>
      <h4>Spider Monkey Thinks Capybara is His Mom</h4>
    </div>
  </div>
</div>
